name: Build and Publish

on:
  push:
    branches:
      - main

concurrency: '${{ github.workflow }}-${{ github.ref }}'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: write
      packages: write
      pull-requests: write
      issues: read

    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: pnpm

      - run: pnpm install --frozen-lockfile
      - run: pnpm run build

      - uses: changesets/action@v1
        env:
          NPM_CONFIG_PROVENANCE: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          publish: pnpm publish -r --access public
